@page "/"
@inject Api Api
@inject NavigationManager Navigation

<SectionContent SectionName="top-bar">
    @{
        var queues = _queues.Count(x => x.MessageCountInDb > 0);
        var messages = _queues.Sum(x => x.MessageCountInDb);
    }
    
    <div>
        <div>
            @queues local queue@(queues == 1 ? "" : "s")
        </div>
        <div>
            @messages local message@(messages == 1 ? "" : "s")
        </div>
    </div>
</SectionContent>

<PageTitle>Queues</PageTitle>

<MudDataGrid Items="@_queues" Dense="true" Hover="true" RowClick="@((DataGridRowClickEventArgs<QueueSummary> x) => OnRowClick(x))" 
             RowClass="cursor-pointer"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterRow" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Queue" />
        <PropertyColumn Property="x => x.MessageCountInRmq" Title="Message count in RMQ"/>
        <PropertyColumn Property="x => x.MessageCountInDb" Title="Message count in DB"/>
        <TemplateColumn Title="Exclusive" Filterable="false">
            <CellTemplate>
                @if (context.Item.Exclusive)
                {
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Secondary">exclusive</MudChip>
                }
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


@code
{
    List<QueueSummary> _queues = [];
    
    protected override async Task OnInitializedAsync()
    {
        _queues = await Api.GetQueueSummariesAsync();
        _queues.Sort((x, y) => String.Compare(x.Name, y.Name, StringComparison.Ordinal));
    }

    private void OnRowClick(DataGridRowClickEventArgs<QueueSummary> obj)
    {
        if (!obj.Item.Exclusive)
            Navigation.NavigateTo($"/{obj.Item.Name}");
    }
}
