@using MySourceGenerationContext = RmqToolsWeb.MySourceGenerationContext
@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager Navigation

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="false" Class="sticky mud-dark-text" Style=@($"top: 0; background:{Colors.BlueGray.Lighten5};")>
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Size="Size.Large" Edge="Edge.Start" OnClick="GoHome"/>
        <MudDivider Vertical="true" FlexItem="true" Class="ml-3"/>

        @if (_rmqConnectionInfo != null)
        {
            <div class="mx-5">
                <div>@_rmqConnectionInfo.Domain</div>
                <div>@_rmqConnectionInfo.Vhost</div>
            </div>
        }
        <MudDivider Vertical="true" FlexItem="true" Class="mr-5"/>

        <SectionOutlet SectionName="top-bar"/>
    </MudAppBar>

    <MudMainContent Class="pt-0">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    RmqConnectionInfo? _rmqConnectionInfo;

    protected override async Task OnInitializedAsync()
    {
        _rmqConnectionInfo = await Http.GetFromJsonAsync<RmqConnectionInfo>("/api/rmq_connection", MySourceGenerationContext.Default.RmqConnectionInfo);
    }

    void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}
